<html>

<head>
  <link rel="stylesheet" href="styles.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="css/last.css">
  <title>Sign in</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">ThankYou</p>
    <form class="form1">
      
        
        
        <img src="https://media1.tenor.com/images/df152f344dd7dc046446a3a89b29200c/tenor.gif?itemid=18739889" class="center">
      
      
            
                
    </div>
     
</body>

</html>